.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
    height: 30px;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
    height: 30px;
}
